.ChordColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 10vw;
	height: 90vh;
	box-sizing: border-box;
	border: 1px solid #000;
	touch-action: none;
}

.ChordColumn .Voicing {
	width: 9.5vw;
	height: 10vh;
	background: green;
}

.ChordColumn .Voicing:first-child {
	background: rgba(240,248,255,1);
	color: #000;
}
