.ChordColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 10vw;
	height: 90vh;
	box-sizing: border-box;
	border: 1px solid #000;
}

.Voicing {
	width: 9vw;
	height: 12vh;
	background: green;
}
