.WhiteKey, .BlackKey {
	touch-action: none;
}

.WhiteKey {
	color: #000;
	background: #fff;
	height: 20rem;
	width: 4em;
	border: 1px solid #101010;
}

.BlackKey {
	color: #fff;
	background: #000;
	height: 10rem;
	width: 3em;
	position: relative;
}

.WhiteKey + .BlackKey {
	margin-left: -1.5em;
}

.BlackKey + .WhiteKey {
	margin-left: -1.5em;
}

.isInCurrentScale {
	background: #be4ac5;
	color: #fff;
	border: 1px solid #411744;
}
