.WhiteKey {
	color: #000;
	background: #fff;
	height: 20rem;
	width: 6%;
}

.BlackKey {
	color: #fff;
	background: #000;
	height: 10rem;
	width: 4%;
	position: relative;
}

.WhiteKey + .BlackKey {
	margin-left: -2%;
}

.BlackKey + .WhiteKey {
	margin-left: -2%;
}
